/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-nov-2019, 23:01:18
    Author     : Francisco_Antonio
*/
[id="paises"]
{
   font-family: 'PT Sans', sans-serif;
   font-size: 16px;
   color: blue;
   padding:2px;
   cursor:pointer;
   display:block;
   width:290px;
   margin: 0 auto;
   text-align:center;
   border-color: burlywood;
}
h1 h2{
    font-family: 'PT Sans', sans-serif;
    /*font-size: 24px;*/
    text-align: center;
    border-bottom: solid burlywood;
}
